{% extends 'base.html.twig' %}

{% block title %}Hello laptopController!
{% endblock %}

{% block body %}
	<div class="col-12 row justify-content-xs-center justify-content-lg-around mt-5">
		<div class="col-xs-11 col-lg-4 offset-xs-1 offset-lg-1 row justify-content-center">
			<img class="" src="{{ asset('images/Smartwatchs/' ~ product.picture ) }}" alt="Card image cap" width"500px" height="500px"/>
		</div>

		<div class="col-xs-11 col-lg-6 row justify-content-xs-center justify-content-lg-start">
			<h1 class="h2 col-xs-3 offset-xs-1 col-lg-11 mt-4 text-center text-lg-left">
				{{product.name}}
			</h1>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Fabricante:
				{{product.mark}}
			</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Modelo:
				{{product.model}}
			</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				S.O.: 
				{{smartwatch.so}}
			</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Calidad de imagen
				{{smartwatch.resolution}}</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Resolución:
				{{ smartwatch.resolutionPx}}</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Tecnología:
				{{ smartwatch.technology}}</h4>
			<h4 class="h4 col-xs-3 col-lg-11 mt-4 lead">
				Precio:
				{{product.price}}
				$</h4>
			<select id="stockSelect"class="col-xs-12  col-lg-6 mt-4 lead form-select" aria-label="Default select example">
				<option selected>1</option>
                {% for i in 2..product.stock %}
                    <option value="1">{{ i }}</option>
                {% endfor %}
			</select>
			<div class="w-100"></div>
			<button href="" onClick="checkAddCart({{product.id}})"  class=" col-xs-12 col-lg-6 mt-4 lead btn btn-primary">
				Añadir al carrito
			</button>
		</div>
		<div class="col-xs-11 col-lg-6 mt-3 row">
			<h2 class="h2 col-12">
				Descripciónn</h2>
			<p class="p col-12 leaf text-align-justify">
				{{product.description}}
			</p>
			<table class="mt-4 col-12 table">
				<tbody>
					<tr>
						<th scope="row">Fabricante</th>
						<td>{{product.maker}}</td>
					</tr>
					<tr>
						<th scope="row">Nombre</th>
						<td>{{product.name}}</td>
					</tr>
					<tr>
						<th scope="row">Modelo</th>
						<td>{{product.model}}</td>
					</tr>
					<tr>
						<th scope="row">Dimensiones</th>
						<td>{{product.dimensions}}</td>
					</tr>
					<tr>
						<th scope="row">Peso</th>
						<td>{{product.weight}}</td>
					</tr>
					<tr>
						<th scope="row">Año</th>
						<td>{{product.year}}</td>
						<tr>
					<th scope="row">S.O. :</th>
						<td>{{smartwatch.so}}</td>
					</tr>
					</tr>
					<tr>
						<th scope="row">Calidad de imagen:</th>
						<td>{{smartwatch.resolution}}</td>
					</tr>
					<tr>
						<th scope="row">Resolución:</th>
						<td>{{smartwatch.resolutionPx}}</td>
					</tr>
					<tr>
						<th scope="row">Tecnología:</th>
						<td>{{smartwatch.technology}}</td>
					</tr>
					
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
