{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
<h2 class="h2 col-12 text-center mt-3">Pantallas</h2>
		<div class="container-fluid col-10 mt-3 row justify-content-around">
			{% for j, product in productScreens %}
					<div class=" col-3 offset-1 card p-3 mt-5" style="width: 18rem;">
						<img class="card-img-top" src="{{ asset('images/Screens/' ~ product.picture ) }}" alt="Card image cap" width"250px" height="250px"/>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">
								Tamaño: {{ screens[j].size}}</p>
							<p class="card-text">
								Resolucion :<br>{{ screens[j].resolution}} 
								- {{ screens[j].resolutionPx}}</p>
							<p class="card-text">
								Conector:
								{{ screens[j].connectors}}</p>
							<p class="card-text">Stock:
								{{ product.stock}}</p>
							<p class="card-text">Precio:
								{{ product.price}}
								$</p>
							<a href=" {{ asset('/product/getProduct/Pantalla/' ~ product.id ) }} " class="btn btn-primary">Ver producto</a>
						</div>
					</div>
			{% endfor %}
		</div>
{% endblock %}
