{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
<h2 class="h2 col-12 text-center mt-3">Webcams</h2>
		<div class="container-fluid col-12 mt-3 row justify-lg-content-around justify-xs-content-center">
			{% for j, product in productWebcam %}
					<div class="col-12 col-lg-3 offset-lg-1 card p-3 mt-5 mb-5" style="width: 18rem;">
						<img class="card-img-top" src="{{ asset('images/Webcams/' ~ product.picture ) }}" alt="Card image cap" width"250px" height="250px"/>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">
								Resolución:{{ webcams[j].resolutionPx}}</p>
							<p class="card-text">
								Sonido: {{ webcams[j].sound}}</p>
							<p class="card-text">
								Conexión:
								{{ webcams[j].connection}}</p>
							<p class="card-text">Stock:
								{{ product.stock}}</p>
							<p class="card-text">Precio:
								{{ product.price}}
								$</p>
							<a href=" {{ asset('/product/getProduct/Webcam/' ~ product.id ) }} " class="btn btn-primary btn-card col-12">Ver producto</a>
						</div>
					</div>
			{% endfor %}
		</div>
{% endblock %}
