{% extends 'base.html.twig' %}

{% block title %}Hello DesktopController!{% endblock %}

{% block body %}
    <div class=" col-3 offset-1 card p-3 mt-5" style="width: 18rem;">
						<img class="card-img-top" src="{{ asset('images/Desktops/' ~ product.picture ) }}" alt="Card image cap" width"250px" height="250px"/>
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">
								Memoria Ram:{{ desktop.ramMemory}}</p>
							<p class="card-text">
								Procesador :<br>{{ desktop.processorModel}}</p>
							<p class="card-text">
								O.S:
								{{ desktop.os}}</p>
							<p class="card-text">Stock:
								{{ product.stock}}</p>
							<p class="card-text">Precio:
								{{ product.price}}
								$</p>
							<a href=" {{ asset('/desktop/getProduct/' ~ product.id ) }} " class="btn btn-primary">Ver producto</a>
						</div>
					</div>
{% endblock %}
