{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
    <h1 class="h1 col-12 text-center">Historial de pedidos: </h1>
    {% for order in orders %}
        <div class="col-12">
            <div> {{order.date|date('d/m/Y')}}</div>
        </div>
        <div class="col-12">
            <div> {{order.amount}} $</div>
        </div>
         <div class="col-12">
            <div> {{order.address}}</div>
        </div>
        <div class="col-12">
            <div> {{order.state}}</div>
        </div>
    {% endfor %}
	<h1 class="h1 col-12 text-center">Informaci贸n de usuario</h1>
	<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Nombre:</p>
			<p class="p">{{user.name}}</p>
		</div>
	</div>
	<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Apellidos:</p>
			<p class="p">{{user.surname}}</p>
		</div>
	</div>
	
	<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Direcci贸n:</p>
			<p class="p">{{user.address}}</p>
		</div>
	</div>
	<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Email:</p>
			<p class="p">{{user.email}}</p>
		</div>
	</div>
	<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Nombre de usuario:</p>
			<p class="p">{{user.username}}</p>
		</div>
	</div>
		<div class="col-12 row justify-content-start">
		<div class="col-6 row justify-content-start">
			<p class="p">Fecha de nacimiento:</p>
			<p class="p">{{user.birthday|date('d/m/Y')}}</p>
		</div>
	</div>
    <h1 class="h1 col-12 text-center">Edicion de Informaci贸n</h1>
	<form method="POST" action="{{asset('/user/edit')}}" class="col-12">
        <div class="form-group">
			<label for="name">Nombre: </label>
			<input type="text" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="" value="{{user.name}}">
		</div>
        <div class="form-group">
			<label for="surname">Apellidos: </label>
			<input type="text" name="surname" class="form-control" id="surname" aria-describedby="emailHelp" placeholder="" value="{{user.surname}}">
		</div>
         <div class="form-group">
			<label for="address">Direcci贸n: </label>
			<input type="text" name="address" class="form-control" id="address" aria-describedby="emailHelp" placeholder="" value="{{user.address}}">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

    


{% endblock %}
